.contain{
	width: 500px;
	margin-top: 10px;
	height: inherit;
	overflow: hidden;
	position: absolute;
	left: 40px;
	top: -8px;
}
.contain p{
	/* word-break: keep-all; */
	white-space: nowrap;
	width: fit-content;
	/* animation: move var(--duration) linear infinite; */
	animation: move 14s linear infinite;
	min-width: 100%;
}
@keyframes move{
	0%,20%{
		transform: translateX(0px);
	}
	80%,100%{
		transform: translateX(calc(-100% + 500px));
	}
}