@import url("../antd.css");
.admin{
	width: 100% !important;
	height: 100% !important;
	color: #333;
}
.admin .admin-sider{
	width: 500px;
	height: 100%;
	background-color: #fff;
}
.admin .admin-sider .admin-logo{
	height: 83px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin .admin-sider .admin-logo span{
	display: block;
	width: 177px;
	height: 47px;
	background-color: #1a2d3f;
	color:#fff;
	line-height: 47px;
	text-align: center;
	font-size: 18px;
}
.admin .layout-header{
	height: 64px;
	background-color: #fff;
	box-shadow: 0 3px 16px 0 rgba(0,0,0,0.1);
	position: relative;
}
.admin .layout-header .user-menu:hover,.admin .layout-header .tip:hover,.admin .layout-header .notice:hover{
	background-color: rgba(0,0,0,0.025) !important;
}
.admin .layout-header .tip,.admin .layout-header .notice{
	width: 50px;
	height: 100%;
	float: right;
	cursor: pointer;
	text-align: center;
	line-height: 64px;
}
.admin .layout-header .user-menu{
	float: right;
	margin-right: 15px;
	width: 100px;
	height: 100%;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
}
.admin .layout-main{
	border: 30px solid #f7f7f7;
	background-color: #fff;
	padding: 30px;
	overflow-y: auto;
}
.admin .admin-footer{
	text-align: center;
	background-color: #f7f7f7;
} 